<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        {% if session['username']%}
            <button onclick="javascript:window.location.href='/account/logout'">logout</button>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post">
            {{form.csrf_token}}
            {{form.username.label}} {{form.username}}<br>
            {{form.passwd.label}}{{form.passwd}}<br>
            {{form.submit}}
        </form>
    </body>
</html>