<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>postevent</title>
    </head>
    <body>
        {% if session['username']%}
            <button onclick="javascript:window.location.href='/account/logout'">logout</button>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post">
            {{form.csrf_token}}
            {{form.title.label}}{{form.title}}<br>
            {{form.events.label}}{{form.events}}<br>
            {{form.tags.label}}{{form.tags}}<br>
            {{form.submit}}
        </form>

    </body>
</html>