<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>User level set</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post">
            {{form.csrf_token}}
            {{form.level.label}}
            {% for subfield in form.level %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            {{form.submit}}
        </form>
    </body>
</html>